.navbar-brand {
	font-family:'Permanent Marker', cursive;
	font-size: 32px;
    margin-right:50px;
    
}

.container {
	margin: 80px;
}

body {
	background-color: #42c264;
	background-image: -webkit-linear-gradient(gold,chocolate);
	background-image:-chrome-linear-gradient(gold,chocolate);
	background-image:-moz-linear-gradient(gold,chocolate);
	background-image:-o-linear-gradient(gold,chocolate);
	background-image:-ms-linear-gradient(gold,chocolate);
	background-image:linear-gradient(gold,chocolate);

}

.intro{
	float:right;
	width:60%;

}

#mainPic{
	float:left;
	width:35%;

}

.ingredients {
	margin: 0;
	padding: 0;
	
}

ul {
	list-style-type: none;
}

#nutritionPerServing{
	padding: 34px;
	margin-top: 50px;

}

table, th, td{
	border: 1px solid black;
	
}

.lead {
	padding: 30px;
	margin: 30px;

}

#method {
	padding: 34px;
	margin-top: 50px;
	text-align: center;

}

@media only screen and (max-width: px) {
	
}	

@media only screen and (max-width: px) {
	
}	

@media only screen and (max-width: px) {
	
}

@media only screen and (max-width: px) {
	
}